<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-toggle #transOrtho [(ngModel)]="global.isOrtho"></ion-toggle>
    </ion-buttons>

    <ion-title text-center>
      CEN
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [ngClass]="{'langue-select':global.isNahuatl,'langue-unselect':!global.isNahuatl}" (click)="setNahuatl(true)">NAH</ion-button>
      <ion-button [ngClass]="{'langue-select':!global.isNahuatl,'langue-unselect':global.isNahuatl}" (click)="setNahuatl(false)">ESP</ion-button>
      <ion-icon slot="icon-only" name="settings"  (click)="goSettings()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="chachalaca">
          <ion-icon name="flash"></ion-icon>
          <ion-label>CHACHALACA</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="gdn">
          <ion-icon name="apps"></ion-icon>
          <ion-label>GDN</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="temoa">
          <ion-icon name="send"></ion-icon>
          <ion-label>TEMOA</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tlachia">
          <ion-icon name="school"></ion-icon>
          <ion-label>TLACHIA</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
